
@media (max-width: 1270px) {
    .step3 {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        background: hsl(217, 100%, 97%);
        align-items: center;
        justify-content: flex-start;
        margin: 0;
        padding: 0;
    }
        
    .mainStep3 {
        display: flex;
        /* position: relative; */
        flex-direction: column;
        width: 85%;
        height: 100%;
        align-self: flex-start;
        justify-content: flex-start;
        margin: 5px 10px 20px 30px;
    }    

    .mainStep3 .addOns {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 70%;
    }
}

@media (min-width: 1270px) {

    .mainStep3 {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 95%;
        flex-grow: 1;
        align-self: flex-start;
        justify-content: flex-start;
        margin: 5px 50px 20px 80px;
    }    
}


