@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: hsl(217, 100%, 97%);
    align-items: center;
    justify-content: center;
}

.center {
    background: white;
    width: 60vw;
    height: 69vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}